// Quantum Script Extension Make
// Copyright (c) 2016-2025 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2025 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/QuantumScript.Extension/Make/Library.rh>
#include <XYO/QuantumScript.Extension/Make/Copyright.rh>
#include <XYO/QuantumScript.Extension/Make/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_QUANTUMSCRIPT_EXTENSION_MAKE,"quantum-script--make.dll","Quantum Script Extension Make")
